@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1650808603187') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-saoma:before {
  content: "\e749";
}

.icon-xiaolian:before {
  content: "\e627";
}

.icon-fangdajing:before {
  content: "\e63d";
  font-size: 14px;
}

.icon-huidaodingbu:before {
  content: "\e88d";
}

.icon-zaixiankefu:before {
  content: "\e61c";
}

.icon-gouwuche:before {
  content: "\e70b";
  font-size: 16px;
  margin-right: 3px;
}

.icon-yonghuming:before {
  content: "\e612";
  font-size: 12px;
  margin-right: 3px;
}

